$color-primary: #8cc5f9;
$color-secondary: #0b132a;
$color-text: #4f5665;
$color-white: #ffffff;
$color-bg-base: #08090a;
$color-bg-light: #f8f8f8;

$color-shadow: rgba(13, 16, 37, 0.1);
$color-btn-hover: #878abc;
$color-btn-shadow: #5f7a7e;
$color-footer-description: #bdbdbd;

$bp-1658: 1658px;
$bp-1260: 1260px;
$bp-1250: 1250px;
$bp-1240: 1240px;
$bp-1235: 1235px;
$bp-1195: 1195px;
$bp-1186: 1186px;
$bp-1100: 1100px;
$bp-1060: 1060px;
$bp-1040: 1040px;
$bp-900: 900px;
$bp-840: 840px;
$bp-830: 830px;
$bp-790: 790px;
$bp-780: 780px;
$bp-720: 720px;
$bp-670: 670px;
$bp-660: 660px;
$bp-630: 630px;
$bp-600: 600px;
$bp-575: 575px;
$bp-470: 470px;
$bp-438: 438px;
$bp-430: 430px;

$radius-base: 10px;
$radius-large: 47px;
